
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fascinate', cursive;
}

.flex-container{
    /* position: absolute; */
    right: 0;
    width:100%;
    height: 100vh;
    padding: 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    background: black;
    position: relative;
}

.main{
    background: white;
    width: 80%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    /* position: relative; */
    position: absolute;
}

#rock{
    width: 50%;
    height: auto;
}

.form{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    /* border: 2px solid red; */
}



.cols{
    flex-direction: row;
    display: flex;
    /* border: 2px solid red; */
    width: 80%;
    justify-content: flex-start;
    /* align-items: flex-start; */
    background-color: white;
}

.cols div{
    padding-bottom: 7px;
}

.row1 {
    padding-right: 60px;
}

#first_name,
#last_name,
#password, 
#email,
#number{
    width: 220px;
}

button{
    background-color: #596D48;
    color: white;
    padding: 10px;
    width: 25%;
    border-radius: 5px;;
}

.moreText{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 40%;
    justify-content: space-around;
    
}

/* .One,
.Two,
.Three{
    width: 100%;
    height: 80%;
}

.One,
.Three{
    background-color: lightgrey;
} */

#logIn{
    color:#596D48;
    border-radius: 25px;;
}